<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Class</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div id="app" class="container">
        <div class="row p-5">
            <h1 v-text="sitename" class="mx-auto"></h1>
        </div>

        <div class=" justify-content-center row">
            <div class="col-md-4">
                <p class="font-weight-bold">Category</p>
                <div class="form-check form-check-inline ">
                    <input class="form-check-input " type="radio" value="option1" name="categoryRadio">
                    <label class="form-check-label">
                        Subject
                    </label>
                </div>
                <div class="form-check form-check-inline ">
                    <input class="form-check-input" type="radio" value="option1" name="categoryRadio">
                    <label class="form-check-label">
                        Location
                    </label>
                </div>
                <div class="form-check form-check-inline mt-1">
                    <input class="form-check-input" type="radio" value="option1" name="categoryRadio">
                    <label class="form-check-label">
                        Price
                    </label>
                </div>
                <div class="form-check form-check-inline mt-1">
                    <input class="form-check-input" type="radio" value="option1" name="categoryRadio">
                    <label class="form-check-label">
                        Spaces
                    </label>
                </div>
            </div>
            <div class="col-md-4 ">
                <p class=" font-weight-bold">Order By</p>
                <div class="form-check form-check-inline ">
                    <input class="form-check-input" type="radio" value="option1" name="orderRadio">
                    <label class="form-check-label">
                        Ascending
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="option1" name="orderRadio">
                    <label class="form-check-label">
                        Descending
                    </label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div v-for="lesson in lesson">
                <div class="mt-5 col-lg-11">
                    <main>
                        <figure>
                            <img class="img-thumbnail" width="200" v-bind:src="lesson.image">
                        </figure>
                        <p class="text-info">Subject: <span class="text-dark" v-text="lesson.subject"></span></p>
                        <p class="text-info">Location: <span class="text-dark" v-text="lesson.location"></span></p>
                        <p class="text-info">Price: <span class="text-dark" v-text="lesson.price"></span></p>
                        <p class="text-info">Spaces: <span
                                class="text-dark">{{lesson.spaces - cartCount(lesson.id)}}</span></p>
                        <button v-on:click="addToCart(lesson)" v-if="canAddToCart(lesson)" class="btn btn-success"> Add
                            to cart</button>
                        <!-- This button will be displayed otherwise -->
                        <button v-else type="button" class="btn btn-danger" disabled=' disabled'> Add to cart</button>
                        <br>
                        <span v-if='lesson.spaces === cartCount(lesson.id)' class="text-danger">
                            Sold Out
                        </span>
                        <span v-else-if="lesson.spaces - cartCount(lesson.id) < 5" class="text-warning">
                            Only {{lesson.spaces - cartCount(lesson.id)}} left!!
                        </span>
                        <span v-else class="text-success">
                            Buy Now
                        </span>
                        <div>
                            <span><i class="fas fa-star"></i> </span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                    </main>

                </div>
            </div>
        </div>
    </div>
    <script src="/lesson.js"></script>
    <script>
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'Lesson Booking Service',
                lesson: lesson
                ,
                cart: [],
                showProduct: true,

            },
            methods: {

                addToCart(lesson) {
                    this.cart.push(lesson.id);
                },
                showCheckout() {
                    this.showProduct = this.showProduct ? false : true;
                },
                submitForm() {
                    alert('Order submitted!')
                },

                canAddToCart(lesson) {
                    return lesson.spaces > this.cartCount(lesson.id);
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    } return count;
                },

            },
            computed: {
                cartItemCount: function () {
                    return this.cart.length;
                },
                sortedProducts() {
                    let productsArray = this.product.slice(0);
                    function compare(a, b) {
                        if (a.price > b.price)
                            return 1;
                        if (a.price < b.price)
                            return -1;
                        return 0;
                    }
                    return productsArray.sort(compare);
                }
            }
        });
    </script>
</body>


</html>